[defaults]
inventory               = ./hosts
roles_path              = /usr/share/ansible/roles
host_key_checking       = False
bin_ansible_callbacks   = True
deprecation_warnings    = False
display_skipped_hosts   = False
forks                   = 20
callback_result_format  = yaml

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[persistent_connection]
command_timeout = 180
connect_timeout = 100
connect_retry_timeout = 10
