[defaults]
inventory               = ./hosts
collections_path        = $HOME/.ansible/collections
host_key_checking       = False
deprecation_warnings    = False
display_skipped_hosts   = False
callback_result_format  = yaml

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[persistent_connection]
command_timeout = 180
connect_timeout = 100
connect_retry_timeout = 10
